@using Microsoft.AspNetCore.Identity;
@model Motorcycle_WebShop.Data.ApplicationUser

@{
    ViewData["Title"] = "Create";
}

<h2>Create new user</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Role" class="control-label"></label>
                @if (User.IsInRole("Admin") || User.IsInRole("Chief executive officer"))
                {
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" style="width:415px" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Role</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var role in ViewBag.Roles)
                            {
                                <a class="form-control dropdown-item" href="#">@role.Name</a>
                            }
                        </div>
                    </div>
                    <input type="hidden" class="form-control" id="selectedItem" asp-for="Role">
                }
                else
                {
                    <label class="btn btn-light" style="width:415px" type="button">User</label>
                    <input type="hidden" class="form-control" asp-for="Role" value="User">
                }
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvatarFilePath" class="control-label">Choose Avatar</label>
                <input type="file" asp-for="AvatarFilePath" class="form-control" />
                <span asp-validation-for="AvatarFilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmation" class="control-label"></label>
                <input asp-for="PasswordConfirmation" class="form-control" />
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            </div>
@*             <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> Active
                </label>
            </div> *@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmailConfirmed" /> E-mail Verified
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SendConfirmationEmail" /> Send Confirmation E-mail
                </label>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


<script>
    const dropdownButton = document.getElementById("dropdownMenuButton");
    const selectedItemField = document.getElementById("selectedItem");
    const dropdownItems = document.querySelectorAll(".dropdown-item");

    dropdownItems.forEach(item => {
      item.addEventListener("click", function() {
        const selectedValue = this.textContent;
        dropdownButton.textContent = selectedValue;
            selectedItemField.value = selectedValue;
      });
    });
</script>

